.mid-section {
  display: flex;
  flex-direction: column;
  .discount-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .img-container {
      max-width: fit-content;
      background: url("../../img/discount-bgr.svg") no-repeat;
    }
    .discount-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 442px;
      margin-left: 65px;
      margin-right: 217px;
      .discount-title {
        margin: 0;
        font-weight: 200;
        font-size: 40px;
        line-height: 130%;
        text-align: center;
        margin-bottom: 40px;
      }
      .reviews-container {
        display: flex;
        margin-bottom: 24px;
        .reviews-text {
          margin: 0;
          font-weight: 300;
          font-size: 18px;
          line-height: 125.5%;
          margin-right: 10px;
        }
        .stars {
          display: flex;
          .star {
            width: 17px;
            height: 17px;
            background: url("../../img/icons/star.svg") no-repeat;
            margin-right: 4px;
          }
          :last-child {
            margin: 0;
          }
          .rated {
            background: url("../../img/icons/star-active.svg") no-repeat;
          }
        }
      }
      .discount-text {
        margin: 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 170%;
        text-align: center;
        margin-bottom: 21px;
      }
      .price-container {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        .old-price {
          margin: 0;
          font-weight: 200;
          font-size: 20px;
          line-height: 150%;
          text-align: center;
          opacity: 0.5;
          text-decoration: line-through;
          margin-right: 15px;
        }
        .new-price {
          margin: 0;
          font-weight: 200;
          font-size: 30px;
          line-height: 150%;
          text-align: center;
        }
      }
    }
  }
  .banner-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 740px;
    background: url("../../img/mid-banner.png") no-repeat;
    background-size: cover;
    .banner-title {
      margin: 0;
      font-weight: 200;
      font-size: 60px;
      line-height: 120%;
      text-align: center;
      color: #ffffff;
    }
  }
  .HTU-section {
    background-color: rgba($color: #fcd1c2, $alpha: 0.2);
    background-image: url("../../img/HTU.svg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 533px;
    .HTU-title {
      margin: 0;
      font-weight: 200;
      font-size: 40px;
      line-height: 150%;
      text-align: center;
      color: #000000;
      margin-top: 125px;
    }
    .HTU-container {
      margin: auto;
      margin-top: 49px;
      width: 1030px;
      display: flex;
      justify-content: space-between;

      .HTU-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        .HTU-item-img-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 124px;
          height: 124px;
          background-color: #ffffff;
          border-radius: 50%;
          border: 1px solid #8a5137;
        }
      }
    }
  }
}
