@import "../../mixins.scss";

.joinUs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 574px;
  .joinUs-title {
    margin: 0;
    margin-top: 113px;
    font-weight: 200;
    font-size: 40px;
    line-height: 84%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
  .slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin-top: 64px;
    padding-left: 20px;
    padding-right: 20px;
    .slide-btn {
      width: 25px;
      height: 8px;
      border: none;
      padding: 0;
      background: url("../../img/icons/arrow.svg") no-repeat;
      outline: none;
    }
    .right {
      transform: scaleX(-1);
    }
    :last-child {
      margin-right: 0;
    }
  }
  .joinUs-slogan {
    display: flex;
    margin-top: 75px;
    text-decoration: none;
    color: #000;
    .slogan-text {
      margin: 0;
      margin-left: 10px;
      font-weight: 300;
      font-size: 14px;
      line-height: 125.5%;
    }
  }
  @include phone {
    height: 360px;
    .joinUs-title {
      font-size: 30px;
      line-height: 150%;
      margin-top: 58px;
      text-transform: lowercase;
    }

    .slider-container {
      padding: 0;
      margin-top: 35px;
      width: 335px;
      .slide-btn {
        display: none;
      }
      .slide {
        width: 105px;
        height: 105px;
      }
      :nth-child(n + 5) {
        display: none;
      }
    }
    .joinUs-slogan {
      flex-direction: column;
      align-items: center;
      width: 335px;
      margin-top: 20px;
      .joinUs-insta {
        width: 13px;
        height: 13px;
      }
      .slogan-text {
        width: 258px;
        margin: 0;
        margin-top: 4px;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}
