@import "../../mixins.scss";

.joinUs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 574px;
  .joinUs-title {
    margin: 0;
    margin-top: 113px;
    font-weight: 200;
    font-size: 40px;
    line-height: 84%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    box-sizing: border-box;
    margin-top: 64px;
    .btns {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      .slide-btn {
        z-index: 10;
        min-width: 61px;
        height: 210px;
        border: none;
        padding: 0;
        background: url("../../img/icons/arrow.svg") no-repeat center center;
        outline: none;
        margin: 0;
      }
      .right {
        transform: scaleX(-1);
      }
    }

    .slides-container {
      display: flex;
      justify-content: center;
      transition: all 1s ease;
      .slides {
        min-width: 92.36vw;
        display: flex;
        justify-content: space-evenly;
        z-index: -10;
        .slide {
          margin: 0;
        }
      }
    }
    :nth-child(2) {
      margin-left: 3.82vw;
      margin-right: 3.82vw;
    }
    .side0 {
      margin-left: 196.2vw;
    }
    .side2 {
      margin-right: 196.2vw;
    }
  }

  .joinUs-slogan {
    display: flex;
    margin-top: 75px;
    text-decoration: none;
    color: #000;
    .slogan-text {
      margin: 0;
      margin-left: 10px;
      font-weight: 300;
      font-size: 14px;
      line-height: 125.5%;
    }
  }
  @include phone {
    height: 360px;
    .joinUs-title {
      font-size: 30px;
      line-height: 150%;
      margin-top: 58px;
      text-transform: lowercase;
    }

    .slider-container {
      padding: 0;
      margin-top: 35px;
      width: 335px;
      .btns {
        display: none;
      }
      .slides-container {
        .slides {
          .slide {
            width: 105px;
            height: 105px;
            &:nth-child(n + 4) {
              display: none;
            }
          }
        }
      }
    }
    .joinUs-slogan {
      flex-direction: column;
      align-items: center;
      width: 335px;
      margin-top: 20px;
      .joinUs-insta {
        width: 13px;
        height: 13px;
      }
      .slogan-text {
        width: 258px;
        margin: 0;
        margin-top: 4px;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}
