@import "../../mixins.scss";

.header {
  width: 100%;
  display: flex;
  flex-direction: column;

  .top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    background-color: #000;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
  }
  .header-bgr {
    position: absolute;
    z-index: -1;
    top: 38px;
    width: 100%;
    height: 850px;
    background: linear-gradient(
      101.72deg,
      rgba(250, 178, 152, 0.48) 4.77%,
      #f4ded6 28.36%,
      #f8eae5 88.9%,
      rgba(255, 255, 255, 0) 101.84%
    );
    opacity: 0.2;
  }
  .header-main {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 55px;
    margin-bottom: 2px;
    .menu {
      display: none;
    }
    .nav-bar {
      width: 660px;
      display: flex;
      justify-content: space-between;

      .nav-link {
        text-decoration: none;
        color: #000;
        font-size: 16px;
        line-height: 24px;
      }
      :hover {
        color: #8a5137;
        border-bottom: 1px solid #8a5137;
        margin-bottom: -1px;
      }
    }
    .search {
      display: none;
    }
    .cart-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      background: url("../../img/icons/cart.svg") bottom left no-repeat;
      width: 22px;
      height: 24px;
      .goods {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        background-color: #000;
        border-radius: 50%;
        color: #fff;
        font-size: 10px;
        line-height: 15px;
      }
    }
  }
  .banner-container {
    display: flex;
    align-items: center;
    .banner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .banner-title {
        font-weight: 300;
        font-size: 36px;
        line-height: 140%;
        text-align: center;
        margin: 0;
        margin-bottom: 13px;
      }
      .banner-text {
        width: 389px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        margin: 0;
        margin-bottom: 35px;
      }
    }
  }
  .promo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 435px;
    background-color: #000;
    .promo-text-container {
      width: 428px;
      display: flex;
      flex-direction: column;
      margin-right: 130px;
      .promo-logo {
        height: 27px;
      }
      .promo-text {
        margin: 0;
        font-weight: 300;
        font-size: 22px;
        line-height: 170%;
        text-align: center;
        color: #ffffff;
        margin-top: 26px;
      }
    }
  }
  @include phone {
    background: url("../../img/mob-banner-header.png") no-repeat top 39px left;
    .header-bgr {
      display: none;
    }
    .header-main {
      margin-left: 19px;
      margin-right: 16px;
      margin-top: 10px;
      align-items: flex-end;
      .menu {
        display: flex;
        font-size: 14px;
        line-height: 14px;
      }
      .nav-bar {
        display: none;
      }
      .search {
        display: flex;
        width: 16px;
        height: 16px;
        background: url("../../img/icons/search.svg") no-repeat;
      }
    }
    .banner-container {
      flex-direction: column;
      justify-content: flex-end;
      height: 700px;
      .banner-img {
        display: none;
      }
      .banner-content {
        margin-bottom: 80px;
        .banner-title {
          width: 335px;
          font-weight: 300;
          font-size: 28px;
          line-height: 140%;
          margin-bottom: 10px;
        }
        .banner-text {
          width: 311px;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 30px;
        }
      }
    }
    .promo-section {
      flex-direction: column;
      justify-content: flex-start;
      height: 580px;
      .promo-img {
        margin-top: -41px;
        height: 404px;
        width: 335px;
        order: -1;
      }
      .promo-text-container {
        margin: 0;
        width: 100%;
        align-items: center;
        .promo-logo {
          margin-top: 41px;
          width: 162px;
          height: 16px;
        }
        .promo-text {
          margin-top: 16px;
          width: 335px;
          font-weight: 300;
          font-size: 16px;
          line-height: 170%;
        }
      }
    }
  }
}
