.footer {
  display: flex;
  justify-content: center;
  height: 309px;
  background-color: #000;
  background-image: url("../../img/footer-icons/logo-bgr.svg");
  background-repeat: no-repeat;
  background-position: top -160px left -190px;

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 41px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 21px;
    .footer-links {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .logo {
      }
      .footer-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: column;
        column-gap: 117px;
        margin-left: 320px;
        .nav-link {
          font-size: 16px;
          line-height: 240%;
          max-width: fit-content;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
    .social-container {
      display: flex;
      min-width: 157px;
      justify-content: space-between;
      max-height: fit-content;
    }
    .payment-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 41px;
      .payment-link {
        height: 22px;
      }
      :not(:last-child) {
        margin-right: 16px;
      }
    }
    hr {
      margin: 0;
      margin-top: 30px;
      width: 100%;
      height: 0.5px;
      background: #ffffff;
      opacity: 0.3;
      border: none;
    }
    .copyright-container {
      display: flex;
      justify-content: space-between;
      .copyright {
        margin: 0;
        margin-top: 21px;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        text-align: right;
        color: #ffffff;
        opacity: 0.4;
      }
    }
  }
}
