@import "../../mixins.scss";

$facebook: url("../../img/footer-icons/facebook.svg");
$twitter: url("../../img/footer-icons/twitter.svg");
$instagram: url("../../img/footer-icons/instagram.svg");

$facebookActive: url("../../img/footer-icons/facebookActive.svg");
$twitterActive: url("../../img/footer-icons/twitterActive.svg");
$instagramActive: url("../../img/footer-icons/instagramActive.svg");

.footer {
  display: flex;
  justify-content: center;
  height: 309px;
  background-color: #000;
  background-image: url("../../img/footer-icons/logo-bgr.svg");
  background-repeat: no-repeat;
  background-position: top -160px left -190px;

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 41px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 21px;
    .footer-links {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .footer-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: column;
        column-gap: 117px;
        margin-left: 320px;
        .nav-link {
          font-size: 16px;
          line-height: 240%;
          max-width: fit-content;
          color: #ffffff;
          text-decoration: none;
          transition: all 0.1s ease;
        }
        :hover {
          color: #8a5137;
        }
      }
    }
    .social-container {
      display: flex;
      min-width: 157px;
      min-height: 22px;
      justify-content: space-between;
      max-height: fit-content;

      .social-link {
        min-width: 18px;
        background-repeat: no-repeat;
        transition: all 0.1s ease;
      }

      #facebook {
        background-image: $facebook;
        &:hover {
          background-image: $facebookActive;
        }
      }
      #twitter {
        background-image: $twitter;
        min-width: 22px;
        &:hover {
          background-image: $twitterActive;
        }
      }
      #instagram {
        background-image: $instagram;
        &:hover {
          background-image: $instagramActive;
        }
      }
    }
    .payment-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 41px;
      .payment-link {
        height: 22px;
      }
      :not(:last-child) {
        margin-right: 16px;
      }
    }
    hr {
      margin: 0;
      margin-top: 30px;
      width: 100%;
      height: 0.5px;
      background: #ffffff;
      opacity: 0.3;
      border: none;
    }
    .copyright-container {
      display: flex;
      justify-content: space-between;
      .copyright {
        margin: 0;
        margin-top: 21px;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        text-align: right;
        color: #ffffff;
        opacity: 0.4;
      }
    }
  }
  @include phone {
    height: 385px;
    background-image: url("../../img/footer-icons/mob-logo-bgr.svg");
    background-position: bottom right;
    .footer-container {
      margin: 20px;
      box-sizing: border-box;
      .footer-links {
        width: 335px;
        flex-wrap: wrap;
        .logo {
          width: 122px;
        }
        .social-container {
          min-width: 109px;
          .social-link {
            min-width: 17px;
            max-height: 21px;
            background-size: contain;
          }
        }
        .footer-menu {
          margin: 0;
          margin-top: 21px;
          order: 3;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 1fr);
          .nav-link {
            font-size: 14px;
          }
        }
      }
      .payment-container {
        margin-top: 29px;
        justify-content: space-between;
      }
      hr {
        margin-top: 20px;
        min-height: 1px;
      }
      .copyright-container {
        .copyright {
          margin-top: 16px;
        }
      }
    }
  }
}
